*{margin:0px;}

.home{
    width: 100%;
    height:100vh;
  }


.Home.Header{display: flex;
   
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color: #b432d5;
    
}

.logo{width:29%;
height:20%;}

.botones{
    height: 20%;
    width:70%;
    font: 20px roboto;
    color:#fff;
    word-spacing: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;}
    
a {font: 16px roboto;
    color: #fff;
    line-height: 12px;
    word-spacing: 14px;
    text-decoration: none;}


.titulo{
    width: 100%;
    height:30%;
    /*border: 1px solid;*/
    display: flex;
    flex-direction: row;
    align-items: flex-end;}

.titu {
    text-align: left;
    font: 100px roboto;
    margin-left: 15%;
    color: #fff;}

.descripcion{
    width: 100%;
    height:30%;
    /*border: 1px solid;*/
    display: flex;
   
    align-items: flex-start;}

.Descrip {
     text-align: left;
    font: 20px roboto;
    margin-left: 15%;
    color: #fff;}



 .home.nosotras{
 display: flex;
 width: 100vw;
 
 }
    
 .home.nosotras .rosa{
        background: #fd6984;
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
    }

.home.nosotras .blanca{
        background: #fff;
        width: 61%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
    }

    .encabezado{
        width: 50%;
        height:auto;
        font-size: 150%;
        font-family: roboto black;
        line-height: 140%;}

        .Ver.todos{
            width: 216px;
            height: 50px;
            font-family: Roboto black;
            font-size: 100%;
            text-transform: uppercase;
            background: linear-gradient(135deg, #fd6984 1%,#fd28fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            border-radius: 30px;
            color: white;
            text-align: center;
            line-height: 50px;
            margin-top: 40px;
            
        }


        .DetalleSer{
            width:50%;
            height: auto;
            font-size: 100%;
            line-height: 190%;
            font-family: roboto light;}           



.Home.right{
    background: #fd28fa;
    width:60%;
    height:100%;
display: flex;}

   

   
.container4 { 
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
}

.item {
    width: 250px;
    height: 250px;
    
    margin: 14px;
    

} 

.box1, .box2, .box3, .box4{
    border: 1px solid pink;
    
} 

.servicio{
    font: 15px roboto;
    color: #fff;
} 



   


     

   












    .home.proyecto{
    width: 100%;
    height:50vh;}

.home.footer{
    width: 100%;
    height:30vh;}











.Leer.mas {
    width: 250px;
    height: 50px;
    font: 27px Roboto;
    text-transform: uppercase;
    background: linear-gradient(135deg, #fd6984 1%,#fd28fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 30px;
    color: white;
    text-align: center;
    line-height: 50px;}

.home.Servicios{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;}

.Hom.left{
    width: 40%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;}
    




.texto1{
    font-size: 170%;
    font-weight: bold;}
    




    


.Ver.mas{
    width: 250px;
    height: 50px;
    border-radius: 30px;
    color: #fd28fa;
    font:27px Roboto;
    text-transform: uppercase;
    background: white;        
    text-align: center;
    line-height: 50px;}

.home.Proyecto{
    background: #b432d5;}

.Escribinos{
    width: 300px;
    height: 60px;
    border-radius: 60px;
    color: white;
    background: #32143a;
    font: 27px Roboto;
    text-align: center;
    line-height: 50px;}


.home.footer{
    background: #32143a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   }

.sobre {
    font: 14px roboto;
    color: #000;
    text-align: left;}



.agencia {
    font: 14px roboto;
    color: #000;}

.p {
    font: 14px roboto;
    line-height: normal;
    color: #000;
    text-align: left;
    width: 50%;
    padding-top: 25px;
    line-height: 1.5;}


    .redes {
        width: 180px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        margin: 80px;
    
    
    }
    
    .facebook {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        float: left;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-image: url("../img/facebook3.png");
        background-size: cover;  
    
    
    }
    
    .instagram {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        float: left;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-image: url("../img/instagram1.png");
        background-size: cover;
    
    }
    .twitter {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        float: left;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-image: url("../img/twitter2.png");
        background-size: cover;
    }
    
    
    .copy2 {
       
        width: 200px;
        height: 50px;
        margin: 60px;
        margin-top: 90px;
        color: white;
        font: 20px roboto;
        
        
    
        
    }
    


